@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    box-shadow: #d0d0d0 0 0 1rem;
    padding: 1rem;
}

h1 {
    
    font-weight: 300;
}

main {
    display: grid;
    grid-template-columns: min-content 1fr;
    height: 100%;
}

#slots-wrapper {
    min-width: 15vw;
    padding: 0.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.slot-wrapper {
    flex-grow: 1;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 1.5rem 1fr;
}

.number {
    display: grid;
    align-items: center;
}

.number p {
    text-align: right;
    font-size: 1.5rem;
}

.slot {
    box-shadow: #d0d0d0 0 0 0.2rem;
    display: grid;
    place-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color ease 200ms;
    color: transparent;
}

.slot.valid:hover {
    background-color: hsl(210, 100%, 90%);
}

.slot.occupied {
    background-color: dodgerblue;
    color: white;
}

.invalid {
    background-color: #d0d0d0;
}

.slot p {
    font-size: 2rem;
    text-align: center;
    color: inherit;
    font-weight: 700;
    font-size: 1.5rem
}

#random-wrapper {
    display: grid;
    place-items: center;
}

#random-blob {
    background-color: dodgerblue;
    padding: 1rem;
    min-width: 20vw;
    border-radius: 1rem;
}

#random-blob p {
    color: white;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}