@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Chivo+Mono:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 10vh 90vh;
}

header {
    box-shadow: #d0d0d0 0 0 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

input {
    width: 10rem;
}

main {
    display: grid;
    grid-template-rows: 1fr min-content;
}

#random-wrapper {
    display: grid;
    place-items: center;
}

#random-blob {
    background-color: dodgerblue;
    padding: 2rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    display: grid;
    place-items: center;
}

#random-blob p {
    color: white;
    font-size: 3rem;
    text-align: center;
}

#slots-wrapper {
    min-width: 15vw;
    padding: 0.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    box-shadow: #d0d0d0 0 0 1rem;
}

.slot-wrapper {
    flex-grow: 1;
    gap: 0.5rem;
    display: grid;
    grid-template-rows: 1.5rem 1fr;
}

.number {
    display: grid;
    align-items: center;
}

.number p {
    text-align: center;
}

.slot {
    box-shadow: #d0d0d0 0 0 0.2rem;
    display: grid;
    place-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color ease 200ms;
    aspect-ratio: 1;
}

.slot.valid:hover {
    background-color: hsl(210, 100%, 90%);
}

.slot.occupied {
    background-color: dodgerblue;
    color: white;
}

.invalid {
    background-color: #d0d0d0;
}

.slot p {
    text-align: center;
    color: transparent;
    height: max-content;
}

.slot.occupied p {
    color: white;
}